.printer {
  display: inline-block;
  background-color: #eee;
  border: solid 1px grey;
  padding: 1px;
  margin:10px;
  width: 400px;
  transition: 0.5s;
  border-radius: 2px;
  &--selected{
    @inherit: .printer;
    background-color: #ccc;
  }

}

.printerBody {
  padding: 10px;
  margin: 3px;
  background-color: white;
  cursor: pointer;

  &--selected{
    @inherit: .printerBody;
    background-color: #f2f2ef;
  }

}


.printerHeader {
  padding: 5px;
  margin: 3px;
}

.printerNameLink {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  color: #44f;
}

.progressBar {
  margin-top: 5px;
  margin-bottom: 10px;
}

span {
  font-weight: bold;
  font-family: 'roboto';
  overflow: scroll;
}
