.controllBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9ef7f;
  padding: 10px;
  text-align: center;
  height: 45px;
}

.controllButton {
  padding: 0;
  margin: 0;
  border: 0;

  padding: 10px;
  margin: 3px;

  font-family: 'roboto';
  letter-spacing: 1.1px;

  border: solid 1px #aaa;
  border-radius: 4px;

  background-color: #fff699;

  transition: 0.1s;

  &:hover {
    background-color: #fffac6;
    cursor: pointer;
  }

  &:active {
    border: solid 1px #aaa;
  }

  &--disabled {
    background-color: #ddd699;

    &:hover {
      background-color: #ddd699;

    }
  }

}
