@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

.app {
  font-family: 'Raleway';
  letter-spacing: 0.5px;
  line-height: 1.5em;
}

body {
  background-color: #f2f5c3;
}
